In [1]:
1+1

2

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

address ='Tokyo,Japan'
address.split(',')

In [15]:
address ='Tokyo,Japan'

In [6]:
address ='Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

In [7]:
address.split('o')

['T', 'ky', ',Japan']

splitは文字を分ける

In [10]:
len(address)

11

In [17]:
address ='Tokyo,Japan'
address. upper()

'TOKYO,JAPAN'

In [12]:
name='Taro'

In [13]:
name. upper()

'TARO'

In [14]:
len(name)

4

upper()は文字列のためだけのもの

len(データ)は関数、データ,upper はメソッド

In [20]:
address='Tokyo,Japan'

address

In [21]:
address

'Tokyo,Japan'

In [24]:
address.index('T')

0

In [25]:
address.index('o')

1

In [26]:
address.index('x')

ValueError: substring not found

データ,index('')で文字列の中の文字を検索しその文字が何文字目にあるのかを返す
その文字が複数ある場合は初めに出てきた方を返す

文字列に必要な機能は文字列の中に入っている

In [27]:
name

'Taro'

In [28]:
name.lower()

'taro'

apper()の反対の機能を持つメソッドはlower()

lower()は文字列をすべて小文字に変化させるメソッド

３　データと型のすべて

In [30]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [31]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 2, 5)
result = date_b - date_a
print(result)

35 days, 0:00:00

結果が分かりやすいデータを入力して動作確認をする

In [35]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2009, 1, 1)
result = date_b - date_a
print(result)

366 days, 0:00:00

In [36]:
date_a

datetime.date(2008, 1, 1)

In [39]:
date_a.year

2008

In [40]:
date_a.weekday()

1

データ,weekday()はその日の曜日を返す

0は月曜,1が火曜

呼び出すときに括弧がある場合は何らかの処理をする

メソッドと呼ぶ

呼び出すときに括弧がない場合はデータにアクセスするだけ

属性と呼ばれる

属性とメソッドを一つのオブジェクトとして考えオブジェクトごとの関係を表す図をUMLクラス図と呼ぶ

In [42]:
date.today()

datetime.date(2017, 5, 17)

In [45]:
birthday = date(2017,5,10)

In [46]:
date_c = date.today()

In [47]:
life = date_c -birthday

In [48]:
print(life)

7 days, 0:00:00

In [49]:
birthday=date(1998,3,7)

In [50]:
date_c=date.today()

In [51]:
life=date_c-birthday

In [52]:
print(life)

7011 days, 0:00:00

In [54]:
tmp=date.today()

In [55]:
tmp

datetime.date(2017, 5, 17)

In [56]:
tmp.weekday()

2

In [57]:
date_a.weekday()

1

In [58]:
date_a

datetime.date(2008, 1, 1)

In [59]:
tmp=date(1994,1,1)

date(),time(),datetime()などは初期化メソッドと呼ばれる

In [62]:
date_a

datetime.date(2008, 1, 1)

In [63]:
date_a.








today